PORT=8080
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/pharmacy-api?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRE=7d
ADMIN_KEY=pharmacy-admin-key-2024